<a href="https://colab.research.google.com/github/fkgusdk/TEAM-YeoRi/blob/main/Section_0_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [9]:
base_src = './drive/MyDrive/ㅇ3ㄹ1/'
abalone_src = base_src+"/abalone.data"

In [10]:
abalone_df = pd.read_csv(abalone_src, header=None, sep=',',
                         names = ['sex','length','diameter','height','whole_weight',
                                  'shunked_weight','viscera_weight','shell_weight','rings'])
abalone_df.head()

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [12]:
abalone_df.shape

(4177, 9)

In [14]:
# 데이터 결측값 확인
abalone_df.isnull().sum() # : 각 열에 결측치가 있는지 확인 => 0이 아니면 null 값 있는 것 !

sex               0
length            0
diameter          0
height            0
whole_weight      0
shunked_weight    0
viscera_weight    0
shell_weight      0
rings             0
dtype: int64

In [15]:
# 기술통계 확인 => 연속형 데이터 열만 확인 가능 (numerical 데이터)
abalone_df.describe()

,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [17]:
# 전복(abalone) 성별에 따라 groupby 함수를 통해 집계

grouped = abalone_df['whole_weight'].groupby(abalone_df['sex'])
grouped

In [18]:
grouped.sum()

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [19]:
grouped.mean()

sex
F    1.046532
I    0.431363
M    0.991459
Name: whole_weight, dtype: float64

In [20]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [21]:
# 그룹변수가 하나가 아닌, 전체 연속형 변수에 대한 집계
abalone_df.groupby(abalone_df['sex']).mean()

,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [22]:
# 더 간단하게 표현하기
abalone_df.groupby('sex').mean()

,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [23]:
# 새로운 조건에 맞는 변수 추가
import numpy as np
abalone_df['length_bool'] = np.where(abalone_df['length']>abalone_df['length'].median(),
                                     'length_long', # true일 경우
                                     'length_short') # false 일 경우

In [24]:
abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [25]:
# 그룹 변수를 2개 이상 선택해서 통계처리
abalone_df.groupby(['sex','length_bool']).mean()

                    length  diameter    height  whole_weight  shunked_weight  \
sex length_bool
F   length_long   0.626895  0.493020  0.169944      1.261330        0.542957
    length_short  0.477428  0.373301  0.132632      0.589702        0.240380
I   length_long   0.584495  0.452952  0.150957      0.923215        0.402524
    length_short  0.402210  0.305893  0.100997      0.351234        0.156581
M   length_long   0.623359  0.489291  0.168670      1.255182        0.554312
    length_short  0.454875  0.353336  0.121664      0.538157        0.224335

                  viscera_weight  shell_weight      rings
sex length_bool
F   length_long         0.276945      0.360013  11.415073
    length_short        0.132311      0.178650  10.521531
I   length_long         0.196912      0.273247  10.585106
    length_short        0.074920      0.104549   7.451473
M   length_long         0.272203      0.351683  11.299172
    length_short        0.118156      0.162141   9.685053

In [26]:
abalone_df.groupby(['sex','length_bool'])['whole_weight'].mean()

sex  length_bool
F    length_long     1.261330
     length_short    0.589702
I    length_long     0.923215
     length_short    0.351234
M    length_long     1.255182
     length_short    0.538157
Name: whole_weight, dtype: float64

In [28]:
# 중복 데이터 삭제
# 중복된 row 확인하는 법
abalone_df.duplicated().sum()

0

In [29]:
# 중복데이터 예제 생성을 위해 가상으로 중복 데이터 생성
new_abalone = abalone_df.iloc[[0]]
new_abalone_df = pd.concat([abalone_df, new_abalone],axis=0) # 데이터 프레임 끼리 합치기
new_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short

In [31]:
new_abalone_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4173    False
4174    False
4175    False
4176    False
0        True
Length: 4178, dtype: bool

In [33]:
new_abalone_df.duplicated(keep = 'last') # 중복 데이처 중 앞에 있는 걸 True 로

0        True
1       False
2       False
3       False
4       False
        ...
4173    False
4174    False
4175    False
4176    False
0       False
Length: 4178, dtype: bool

In [35]:
# 중복 row 삭제하기
new_abalone_df.drop_duplicates(inplace = True) # kepp = 'last' 삽입 가능

In [36]:
new_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [37]:
# NaN(결측치) 찾아서 다른 값으로 대체
# 실습 위해 결측치가 있는 row 만들기

nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[3,'sex'] = np.nan

In [38]:
nan_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,NaN,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [40]:
nan_abalone_df.isnull().sum()

sex               1
length            0
diameter          0
height            0
whole_weight      0
shunked_weight    0
viscera_weight    0
shell_weight      0
rings             0
length_bool       0
dtype: int64

In [46]:
# 결측치를 특정 값으로 채우기
zero_abalone_df = nan_abalone_df.fillna('I') # 결측치를 N으로 채움
zero_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,I,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [50]:
nan_abalone_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

length            0.524012
diameter          0.407881
height            0.139516
whole_weight      0.828742
shunked_weight    0.359367
viscera_weight    0.180594
shell_weight      0.238831
rings             9.933684
dtype: float64

In [51]:
# 보통 격측치는 평균/중앙값/최빈값 ... 으로 채움
# 결측치를 결측치가 속한 컬럼의 평균값으로 대체해보기
nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[3,'length'] = np.nan
nan_abalone_df.fillna(nan_abalone_df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455000,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350000,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530000,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.524012,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330000,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565000,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590000,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600000,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625000,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710000,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [55]:
# 만약 numerical한 데이터가 아니라면?
# 최빈값으로 대체해보는 연습

nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[2,'sex'] = np.nan
nan_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,NaN,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [57]:
nan_abalone_df['sex'].value_counts()

M    1528
I    1342
F    1306
Name: sex, dtype: int64

In [61]:
sex_mode = nan_abalone_df['sex'].value_counts().sort_values(ascending=False).index[0]
sex_mode

'M'

In [64]:
nan_abalone_df['sex'].fillna(sex_mode, inplace=True)

In [66]:
nan_abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,M,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

#### 데이터 프레임의 꽃
# apply 함수

In [68]:
abalone_df[['diameter']]

      diameter
0        0.365
1        0.265
2        0.420
3        0.365
4        0.255
...        ...
4172     0.450
4173     0.440
4174     0.475
4175     0.485
4176     0.555

[4177 rows x 1 columns]

In [69]:
# 열 기준 집계
abalone_df[['diameter']].apply(np.average,axis=0)

diameter    0.407881
dtype: float64

In [71]:
# 행 기준 집계
abalone_df[['diameter','whole_weight']].apply(np.average,axis=1)

0       0.43950
1       0.24525
2       0.54850
3       0.44050
4       0.23000
         ...
4172    0.66850
4173    0.70300
4174    0.82550
4175    0.78975
4176    1.25175
Length: 4177, dtype: float64

In [78]:
# 사용자 함수를 적용시키는 것이 중요 ⭐⭐⭐⭐⭐

import math

def avg_ceil(x,y,z):
  return math.ceil((x+y+z)/3) # 평균 계산 후 올림

abalone_df[['diameter','height','whole_weight']].apply(lambda x: avg_ceil(x[0],x[1],x[2]),axis = 1)

0       1
1       1
2       1
3       1
4       1
       ..
4172    1
4173    1
4174    1
4175    1
4176    1
Length: 4177, dtype: int64

In [80]:
# 문제
# 1. ['diameter','height','whole_weight'] 사용
# 2, 세 변수의 합이 1이 넘으면 True, 아니면 false 출력 후 answer 변수에 저장
# 3. ablone_df에 answer열을 추가하고 입력

In [88]:
def sum_boolean(x):
  sum = x[0]+x[1]+x[2]
  if sum >= 1:
    return True
  return False

answer = abalone_df[['diameter','height','whole_weight']].apply(lambda x: sum_boolean(x),axis = 1)
abalone_df['answer'] = answer
#new_abalone_df = pd.concat([abalone_df,answer],axis = 1)
abalone_df

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long,True
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True

In [90]:
# 컬럼 내 유니크한 값 뽑아서 개수 확인
abalone_df['sex'].value_counts(ascending=True) # 정렬까지

F    1307
I    1342
M    1528
Name: sex, dtype: int64

In [91]:
abalone_df['sex'].value_counts(dropna=True) # 결측치 제외하고 계산

M    1528
I    1342
F    1307
Name: sex, dtype: int64

In [92]:
# 두 개의 데이터프레임 합치기
# 가상 abalone 1개 row 데이터 생성 및 결합

one_abalone_df = abalone_df.iloc[[0]]
pd.concat([abalone_df,one_abalone_df],axis = 0)

,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False

In [94]:
one_abalone_df = abalone_df.iloc[:,0]
pd.concat([one_abalone_df, abalone_df], axis=1)

,sex,sex,length,diameter,height,whole_weight,shunked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4172,F,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long,True
4173,M,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True