<a href="https://colab.research.google.com/github/fkgusdk/TEAM-YeoRi/blob/main/Section_0_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

In [2]:
os.listdir('./drive/MyDrive/ㅇ3ㄹ1/')

['friend.csv',
 'Section0.0.ipynb',
 'new_friend.csv',
 'Section 0.1.ipynb',
 'Section0.2.ipynb',
 'Section 0.3.ipynb']

In [4]:
base_src = './drive/MyDrive/ㅇ3ㄹ1/'
friend_src = base_src + '/friend.csv'
df = pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [5]:
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [6]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [7]:
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [8]:
df.iloc[1:4]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [9]:
df.size

18

## 조건 필터링 가져오기

In [10]:
# 30대 이상만 가져오기
df[df.age >= 30]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [11]:
# job이 인턴인 사람 가져오기
df[df.job == 'intern']

    name  age     job
5  Chris   25  intern

In [12]:
# 조건 여러게
# 조건 괄호로 묶기!
df[(df.age >= 30) & (df.age < 45)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [15]:
df[(df.age < 30) | (df.age > 40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [21]:
# in 을 통한 포함 조건 걸기
df[df['name'].apply(lambda x: x in ['Jenny', 'Nate'])]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

## DataFrame 행, 열 삭제 & 수정

In [26]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3,4), columns = ['a','b','c','d'])

In [27]:
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [30]:
# b,c 컬럼 삭제 (원본 삭제 x)
df.drop(["b",'c'], axis=1) # 세로축

   a   d
0  0   3
1  4   7
2  8  11

In [31]:
df.drop(["b",'c'], axis=1, inplace = True) # 원본 삭제

In [32]:
df

   a   d
0  0   3
1  4   7
2  8  11

In [33]:
# index 0,1 삭제
df.drop([0,1])

   a   d
2  8  11

In [43]:
# 수정 연습하기
df = pd.read_csv(friend_src, encoding='utf-8')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [44]:
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [45]:
temp.loc[1,'name'] = 'Kenny'
temp

    name  age        job
0   John   20    student
1  Kenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [46]:
temp['age'] = 20
temp

    name  age        job
0   John   20    student
1  Kenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern