<a href="https://colab.research.google.com/github/fkgusdk/TEAM-YeoRi/blob/main/Section0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame 행,열 선택 및 필터링

In [2]:
import pandas as pd

# 베이스 경로
base_src = './drive/MyDrive/ㅇ3ㄹ1/'

# 데이터 경로 
friend_src = base_src+"/friend.csv"

# 불러오기
df = pd.read_csv(friend_src,encoding='utf-8')

df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

# row 가져오기

In [4]:
# index 2번에 해당하는 row 가져오기 (series 형태)
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [5]:
# index 2번에 해당하는 row 가져오기 (dataframe 형태)
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

# 열 가져오기

In [8]:
# 열 가져오기 (series)
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [18]:
df.loc[:'job']

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [9]:
# 열 가져오기 (dataframe)
df[['job']]

         job
0    student
1  developer
2    teacher
3    dentist
4    manager
5     intern

In [10]:
# 열 여러개 가져오기 (dataframe)
df[['job','name']]

# df['job','name']은 안 됨

         job   name
0    student   John
1  developer  Jenny
2    teacher   Nate
3    dentist  Julia
4    manager  Brian
5     intern  Chris

# loc과 iloc의 차이 (중요 !!!!)

참고) df[row,col]

In [61]:
df.loc[:,'job'] # 데이터 프레임의 index, columns 이름 대로  검색

1      student
2    developer
3      teacher
4      dentist
5      manager
6       intern
Name: job, dtype: object

In [62]:
df.iloc[:,2] # 순서로 검색

1      student
2    developer
3      teacher
4      dentist
5      manager
6       intern
Name: job, dtype: object

In [63]:
print(df.loc[1,'job'])
print(df.iloc[1,2])

student
developer

### index 를 바꿔서 쉽게 이해해보기

In [64]:
df.index = [1,2,3,4,5,6]

In [65]:
df.loc[2,:] # 인덱스 이름 대로

name         Jenny
age             30
job      developer
Score         78.9
Name: 2, dtype: object

In [66]:
df.iloc[2,:] # 순서대로

name        Nate
age           30
job      teacher
Score       88.5
Name: 3, dtype: object

# 참고

In [67]:
# 참고
print(df.iloc[:2],'\n\n') # col 부분 생략가능

# print(df.iloc[,:2]) -> error (row 부분 생략 불가능)
print(df.iloc[:,:2])

    name  age        job  Score
1   John   20    student   99.1
2  Jenny   30  developer   78.9


    name  age
1   John   20
2  Jenny   30
3   Nate   30
4  Julia   40
5  Brian   45
6  Chris   25

In [68]:
# 참고
# 열의 dtype은 문자 -> 실수 -> 정수 순서로 우선 순위이며,
# 가장 높은 우선 순위로 표시되기는 하지만 데이터 하나하나의 타입은 변하지 x

# 새로운 열 생성
df['Score'] = [99.1,78.9,88.5,65.0,'93.2',89]

# 확인
print(df['Score'],'\n\n')
print("df.loc[4,'Score'] : ",type(df.loc[4,'Score']))
print("df.loc[5,'Score'] : ",type(df.loc[5,'Score']))
print("df.loc[6,'Score'] : ",type(df.loc[6,'Score']))

1    99.1
2    78.9
3    88.5
4    65.0
5    93.2
6      89
Name: Score, dtype: object


df.loc[4,'Score'] :  <class 'float'>
df.loc[5,'Score'] :  <class 'str'>
df.loc[6,'Score'] :  <class 'int'>

In [69]:
# 참고
# float가 많으면 int로 적어도 float
df['Score'] = [99.1,78.9,88.5,65.0,93.2,89]

# 확인
print(df['Score'],'\n\n')
print("df.loc[5,'Score'] : ",type(df.loc[5,'Score']))
print("df.loc[6,'Score'] : ",type(df.loc[6,'Score']))

1    99.1
2    78.9
3    88.5
4    65.0
5    93.2
6    89.0
Name: Score, dtype: float64


df.loc[5,'Score'] :  <class 'numpy.float64'>
df.loc[6,'Score'] :  <class 'numpy.float64'>

# DataFrame 행,열 삭제

In [70]:
import numpy as np

In [72]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [73]:
df.drop(['B','C'],axis=1) # inplce = True 하면 변수에 또 할당해주지 않아도 알아서 할당함!
# axis = 1 : 세로 축

   A   D
0  0   3
1  4   7
2  8  11

In [75]:
df.drop([0,1])
# axis = 0 : 가로 축 (default, 그래도 써주는게 좋음)

   A  B   C   D
2  8  9  10  11

# DataFrame 수정

In [76]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [79]:
df.loc[1,'C'] = '육'
df

   A  B   C   D
0  0  1   2   3
1  4  5   육   7
2  8  9  10  11

In [80]:
df.iloc[1,2] = 6
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [82]:
df.iloc[:,:2] = 0
df

   A  B   C   D
0  0  0   2   3
1  0  0   6   7
2  0  0  10  11

In [84]:
df.iloc[:,:] = '오저치고?'
df

       A      B      C      D
0  오저치고?  오저치고?  오저치고?  오저치고?
1  오저치고?  오저치고?  오저치고?  오저치고?
2  오저치고?  오저치고?  오저치고?  오저치고?